/H2O_init.lmp
/H2O_init_melt.dump
/H2O_init_solid_equi.dump
/H2O_nvt_250.dump
/log.lammps
/temp.lmp
/H2O_init_equi.dump
/Al_nvt_875.dump
/Al_nvt_1250.dump
/Al_nvt_687.dump
/Al_nvt_593.dump
/Al_init_equi.dump
/Al_init.lmp
/Al_init_melt.dump